<h1>welcome to <i class="fa-solid fa-book"></i><b>Bookers</b> !!</h1>
In <i class="fa-solid fa-book"></i><b>Bookers</b>
you can share and exchange your opinions, inpressions, and emotions about various books!<br>
<%= link_to "Log in", new_user_session_path, class: "btn btn-info" %>

<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>